.Bnt-profile-edit{
    display: inline-flex;
    padding: 18px 52px;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 12px;
    background:  #751123;

    position: absolute;
    left:27%;
    bottom: -15px;
}

.Bnt-profile-edit-text{
    color: #FFCC7E;
    text-align: center;

    /* Akatab-Bold-20 */
    font-family: Akatab;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}


.my-profile-allow-left-btn{
    position: absolute;
    width: 89px;
    height: 28px;
    flex-shrink: 0;
    top:220px;
    left:20px;
    cursor: pointer;
}

.my-profile-allow-right-btn{
    position: absolute;
    width: 89px;
    height: 28px;
    flex-shrink: 0;
    top:220px;
    left: 365px;
    cursor: pointer;
}